@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');

:root {
  --colour-black: #181818;
  --colour-white: white;
  --colour-purple: #B6A7FF;
  --colour-orange: #97C062;
  --colour-yellow: #FFCB73;
  --colour-blue-light: #51F4F4;
  --colour-blue-dark: #5157F4;
  --colour-darkgrey: #313131;
  --colour-grey: #5C5C5C;
  --colour-lightgrey: grey;
  
  --colour-proj-main: red;
  --colour-proj-dark: red;
  --colour-proj-light: red;
  
  /* grayscale version */
  /* --colour-black: #313131;
  --colour-white: #d6d6d6;
  --colour-purple: #B6A7FF;
  --colour-orange: #97C062;
  --colour-yellow: #FFCB73;
  --colour-blue-light: #51F4F4;
  --colour-blue-dark: #5157F4;
  --colour-darkgrey: #464646;
  --colour-grey: black;
  --colour-lightgrey: grey; */
  
  /* dynamic colours */
  --colour-body: var(--colour-black);
  --colour-text: var(--colour-white);
  
  --heading: "Cooper Hewitt", sans-serif;
  --subheading: "Cooper Hewitt", sans-serif;
  --content: "Cooper Hewitt", sans-serif;
  
  --bold: 700;
  --semi-bold: 500;
  --med: 500;
  --regular: 300;

  --linespace: 1.3;
  --inner-padding: 2em;
  --padding: 2em;
  --padding-large: 4em;
  --gap: 1em;
  
  --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  
  --round: 100%;
  --corner-large: 2.6em;
  --corner-normal: 0.8em;
  --corner-small: 0.5em;
  
  --split-width: 25vw;
  
  --real-vh: 100vh;
  
  /* z-index */
  
  --z-map-inactive: -1;
  --z-sidebar: 101;
  --z-map-active: 104;
  --z-info: 106;
  --z-propop: 107;
  --z-project: 110;
  --z-cursor: 1000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

::selection {
  background-color: rgba(255,255,255,0.4);
  color: var(--colour-white);
}
.project-pop ::selection,
.menu ::selection {
  background-color: var(--colour-black);
}

.tets {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

html {
  font: var(--regular) 1em/var(--linespace) var(--content);
  color: var(--colour-text);
}

p {
  font: var(--regular) 1.1em/var(--linespace) var(--content);
}

h1 {
  font: var(--med) 2.5em/1.1 var(--heading);
}
h1.hero {
  font-size: 3.3em;
  display: inline-block;
}
span.i {
  font-style: italic;
  font-weight: var(--regular);
}
span.reg {
  font-weight: var(--regular);
}

h2 {
  font: var(--med) 2em/var(--linespace) var(--heading);
  max-width: 50em;
}
h3 {
  font: var(--med) 1.6em/var(--linespace) var(--heading);
  max-width: 50em;
}
h4 {
  font: var(--regular) 1.3em/var(--linespace) var(--subheading);
}
h5 {
  font: var(--regular) 1em/var(--linespace) var(--subheading);
}
h6 {
  font: var(--med) 1em/var(--linespace) var(--subheading);
}
h6.explainer {
  font-size: 0.9em;
  margin-bottom: calc(var(--gap) / 2);
  text-transform: uppercase;
  font-weight: var(--bold);
  --colour-text: var(--colour-black);
}

h1,h2,h3,h4,h5,h6,p,span,a {
  color: var(--colour-text);
}

h1,h2,h3,h4,h5,h6,p,span {
  /* cursor: text; */
  display: inline-block;
  width: fit-content;
}

h1.highlight,
h2.highlight,
h3.highlight,
h4.highlight,
h5.highlight,
h6.highlight,
p.highlight,
span.highlight,
a.highlight {
  --colour-text: var(--colour-purple);
}

span.tiny {
  font-size: 0.6em;
  font-weight: var(--regular);
  vertical-align: middle;
}

main {
  height: var(--real-vh);
}
body {
  overflow-x: hidden;
  background-color: var(--colour-black);
  scroll-behavior: smooth;
  cursor: none;
}
html {
  scroll-behavior: smooth;
}
body.modal-active {
  overflow-y: hidden;
}
section {
  min-height: var(--real-vh);
}

svg {
  width: 2em;
  fill: var(--colour-text);
}

.no-interact {
  pointer-events: none;
}

.info-disp {
  position: fixed;
  top: 0;
  left: 0;
}

/* .main-wrapper[data-lock="true"] {
  overflow: hidden;
} */

/* ________________SECTIONS__________________ */

.inherit {
  display: inherit;
  width: inherit;
  align-items: inherit;
  justify-items: inherit;
}

section.center-title {
  display: grid;
  align-items: center;
}
section.center-title.center {
  display: grid;
  align-items: center;
  justify-items: center;
}
section.center-title .center-title-inner {
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  display: inherit;
  align-items: inherit;
  justify-items: inherit;
}
section.center-title .center-title-inner.large {
  padding-left: calc(var(--padding-large) * 2);
  padding-right: calc(var(--padding-large) * 2);
}

/* ________________SIDENAV__________________ */

nav.side-progress {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: fixed;
  z-index: var(--z-sidebar);
  right: var(--padding);
  height: 100%;
  align-items: center;
  justify-content: center;
}
nav.side-progress svg {
  width: 0.8em;
  fill: var(--colour-text);
}

nav.side-progress .nav-node {
  position: relative;
  margin-bottom: var(--gap);
  width: 1.5em;
  height: 1.5em;
  border-radius: var(--round);
  display: grid;
  justify-items: center;
  align-items: center;
  border: 2px solid transparent;
  opacity: 0.75;
  cursor: pointer;
}
nav.side-progress .nav-node:last-child {
  margin-bottom: 0;
}
nav.side-progress .nav-node[data-current="true"] {
  border-color: var(--colour-text);
  opacity: 1;
}

nav.side-progress .nav-node:hover label,
nav.side-progress .nav-node label[data-active="true"]
{
  opacity: 1;
}
nav.side-progress .nav-node:hover {
  opacity: 1;
}

nav.side-progress .node {
  background-color: var(--colour-text);
  width: 40%;
  height: 40%;
  border-radius: var(--round);
}

nav.side-progress label {
  line-height: 0;
  opacity: 0;
  position: absolute;
  right: var(--padding);
  white-space: nowrap;
  pointer-events: none;
  transition: 0.3s ease;
}

/* ________________BUTTONS__________________ */

button {
  font: var(--regular) 1.2em/1 var(--content);
  border: none;
  appearance: none;
  padding: calc(var(--inner-padding) / 5) calc(var(--inner-padding) / 3);
  background-color: transparent;
  border: 1px solid var(--colour-white);
  cursor: pointer;
  color: var(--colour-text);
  border-radius: var(--corner-small);
}
button.text {
  padding: unset;
  font-weight: var(--med);
  border: unset;
}

a {
  color: var(--colour-text);
  text-decoration: unset;
}
a.text {
  text-decoration: underline;
}

/* ________________CURSOR__________________ */

.cursor-area {
  position: fixed;
  width: 100vw;
  z-index: var(--z-cursor);
  height: var(--real-vh);
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor {
  position: absolute;
  z-index: var(--z-cursor);
  width: 1.6em;
  height: 1.6em;
  opacity: 0.6;
  background-color: transparent;
  border: 1.5px solid var(--colour-white);
  border-radius: var(--round);
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, border-color 0.3s ease, background-color 0.3s cubic-bezier(0.64, 0, 0.78, 0);
  display: grid;
  align-items: center;
  justify-items: center;
}
.cursor::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: var(--round);
  background-color: var(--colour-white);
  position: absolute;
  transition: 0.3s ease;
}

.cursor[data-pointer="true"],
.cursor[data-text="true"],
.cursor[data-hover="true"] {
  opacity: 1;
}
.cursor[data-pointer="true"]::after {
  width: 100%;
  height: 100%;
}

.cursor[data-text="true"] {
  border-color: transparent;
}
.cursor[data-text="true"]::after {
  width: 0.2em;
  height: 1.5em;
  border-radius: var(--corner-small);
}

.cursor[data-hover="true"]::after {
  content: "?";
  font-weight: 800;
  background-color: transparent;
  line-height: 1;
}


/* ________________TEAM__________________ */

section.team {
  padding: var(--padding) var(--padding-large);
  max-width: 80em;
  margin: 0 auto;
}
.team-set {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: max-content max-content;
  gap: calc(var(--gap) * 4);
}
.team-set .team-card {
  display: grid;
  gap: var(--gap);
  width: 100%;
  grid-template-rows: repeat(3, max-content);
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}
.team-set .team-card img {
  width: 100%;
  border-radius: var(--corner-normal);
}
.team-set .team-card .name {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: var(--med);
}
.team-set .team-card .title {
  line-height: 1.1;
}

/* ________________LAYOUTS__________________ */

.item-row {
  display: flex;
  flex-direction: row;
}
.item-row > * {
  margin-right: var(--gap);
}
.item-row > :last-child {
  margin-right: 0;
}

.item-list,
.item-list-small,
.item-list-med,
.item-list-large {
  display: flex;
  flex-direction: column;
}

.item-list > *,
.item-list-small > *
.item-list-med > *,
.item-list-large > * {
  margin-bottom: var(--gap);
}

.item-list > :last-child,
.item-list-small > :last-child,
.item-list-med > :last-child,
.item-list-large > :last-child {
  margin-bottom: unset;
}

.item-list > button {
  margin-right: auto;
}

.item-list-small > * {
  margin-bottom: calc(var(--gap) / 2);
}
.item-list-large > * {
  margin-bottom: calc(var(--gap) * 4);
}
.item-list-med > * {
  margin-bottom: calc(var(--gap) * 2);
}

.right-item-layout {
  display: grid;
  grid-template-columns: auto min-content;
  gap: calc(var(--gap) / 2);
}

.center-align {
  text-align: center;
  max-width: 50em;
  display: grid;
  gap: var(--gap);
  margin: 0 auto;
  padding: var(--inner-padding) 0;
}
.center-align button {
  margin: 0 auto;
}

.center {
  text-align: center;
}
.center p {
  max-width: unset;
}

/* ________________CARD__________________ */

/* disaster */

.card,
.tooltip {
  display: grid;
  grid-template-rows: 16em max-content auto;
  width: 23em;
  border-radius: var(--corner-normal);
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  justify-items: left;
  text-align: left;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.card[data-active="true"],
.tooltip[data-active="true"] {
  opacity: 1;
  transform: scale(0.8);
}

.tooltip {
  background-color: rgba(0,0,0,0.4);
  grid-template-rows: unset;
}

.card .hero-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .hero-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.card .header-bar,
.card .body,
.tooltip .body {
  padding: calc(var(--inner-padding) / 1.6);
  width: 100%;
}

.card .header-bar {
  background-color: var(--colour-darkgrey);
}
.card .body {
  background-color: var(--colour-grey);
}
.card .body > :last-child {
  margin-top: calc(var(--inner-padding) / 1.6);
}
.card h3, .card h4, .card h5 {
  line-height: 1;
}

/* ________________PROJECTS__________________ */

.project-pop {
  position: fixed;
  z-index: var(--z-project);
  width: 100%;
  height: var(--real-vh);
  background-color: var(--colour-white);
  top: 0;
  left: 0;
  --colour-text: var(--colour-black);
  --inner-padding: 1em;
}
.project-pop .project-header {
  align-items: flex-start;
  padding: var(--padding);
  position: fixed;
}
.project-pop section {
  min-height: unset;
}
.project-pop .project-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: var(--padding) var(--padding-large);
}
.project-pop .project-inner {
  display: grid;
  gap: calc(var(--gap) * 3);
  max-width: 70em;
  margin: 0 auto;
  padding-top: 8em;
}

.project-pop h1, 
.project-pop h2, 
.project-pop h3, 
.project-pop h5,
.project-pop li p {
  color: var(--colour-proj-dark);
}
.project-pop .hero-text {
  color: var(--colour-proj-main);
}
.project-pop .standout-text {
  margin: var(--padding) 0;
}
.project-pop h1,
.project-pop h2 {
  font-weight: var(--bold);
}

.project-pop img {
  width: 100%;
}
.project-pop .image-container {
  margin-bottom: var(--padding);
  display: grid;
  gap: var(--gap);
  justify-items: right;
}
.project-pop .image-container h6 {
  opacity: 0.6;
  font-weight: var(--regular);
  font-style: italic;
}

/* ________________PROJECT INNERS__________________ */

.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(var(--gap) * 2);
}
.three-col .item-list {
  text-align: center;
  align-items: center;
  padding: var(--inner-padding);
}
.three-col .img-cont {
  background-color: var(--colour-proj-light);
  width: calc(100% + calc(var(--inner-padding) * 2));
  aspect-ratio: 1/1;
  border-radius: var(--corner-large);
  padding: var(--inner-padding);
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0 calc(var(--inner-padding) * -1);
  margin-bottom: var(--gap);
}
.three-col p, .three-col h3 {
  padding: 0 var(--gap);
}

.img-info-list {
  display: grid;
  grid-template-columns: 12em auto;
}

.img-info-list img {
  z-index: 1;
  height: 100%;
}
.img-info-list ul {
  margin: var(--padding) 0;
  margin-left: calc(var(--padding) * -2);
}
.img-info-list ul li {
  background-color: var(--colour-proj-light);
  margin-bottom: calc(var(--gap) / 2);
  padding: var(--inner-padding);
  border-radius: var(--corner-small);
}
.img-info-list ul li p {
  padding-left: calc(var(--padding) * 2);
}
.img-info-list ul > :last-child {
  margin-bottom: unset;
}

.case-study .info {
  padding: var(--padding-large) 0;
}



/* ________________MODAL__________________ */

.modal {
  position: relative;
  width: 88vw;
  max-width: 50em;
  background-color: var(--colour-white);
  --colour-text: var(--colour-purple);
  padding: calc(var(--inner-padding) / 1.2);
  display: grid;
  gap: calc(var(--gap) * 2);
  border-radius: var(--corner-large);
  max-height: 74vh;
  height: 100%;
  grid-template-rows: min-content auto;
  transition: transform 0.3s ease;
}
.inner-modal {
  overflow-y: auto;
}
.modal button.icon-round {
  margin-top: calc(var(--gap) * -0.7);
  margin-right: calc(var(--gap) * -0.7);
}
.modal .modal-topbar {
  align-items: center;
}
.modal-behind {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-propop);
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.modal-behind[data-anim="true"] {
  opacity: 1;
}
.modal-behind .modal {
  transform: translateY(20px);
}
.modal-behind[data-anim="true"] .modal {
  transform: translateY(0);
}

/* ________________MAP__________________ */

.map {
  width: 100%;
  position: relative;
}

.map .actual-map-outer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.map .actual-map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: var(--z-map-inactive);
  left: calc(var(--padding-large) * -1);
  transition: transform 1s ease;
  display: grid;
  align-items: center;
}

.map .actual-map[data-active="true"] {
  z-index: var(--z-map-active);
}

.map .actual-map[data-zoom="true"] {
  /* transform: scale(1.5) translateX(-15%); */
}

.map .map-inner {
  position: relative;
}

.map .marker {
  width: 2em;
  position: absolute;
  transform: translateX(-45%) translateY(-120%);
  z-index: calc(var(--z-map-active) + 1);
}
.map .marker svg path {
  pointer-events: none;
}

.map .marker,
.map .actual-map svg path[data-active="true"] {
  /* cursor: help; */
}

.map .marker:hover svg {
  fill: var(--colour-white);
  
}
.map .marker[data-active="true"] > svg {
  transform: scale(1);
}
.map .marker > svg {
  fill: var(--colour-lightgrey);
  transition: transform 0.5s ease;
  transform: scale(0);
}

.map .actual-map svg {
  width: 100%;
  fill: var(--colour-darkgrey);
}
.map .actual-map svg path {
  transition: fill 0.6s ease;
}

.map-bottom-text {
  position: absolute;
  bottom: var(--padding-large);
  width: 100%;
  max-width: 60em;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  z-index: var(--z-info);
}
.map-top-text {
  position: absolute;
  top: var(--padding-large);
  width: 100%;
  max-width: 60em;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  z-index: var(--z-info);
}


/* ________________HOVER__________________ */

@media not all and (hover: none) {
  button:hover {
    background-color: var(--colour-white);
    color: var(--colour-black);
  }
  
  a.text:hover {
    /* font-weight: bolder; */
    text-decoration: underline;
    background-color: rgba(210,100,170,0.4);
  }
}

/* ________________RESP__________________ */

@media screen and (max-width: 40em) {

  :root {
    --padding-large: 1.5em;
  }
  h1.hero {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.3em;
  }
  
  section.center-title.center {
    text-align: left;
  }
  
  nav.side-progress {
    right: calc(var(--padding) / 2);
  }
  
}

.mobile-map-div {
  width: 100%;
  overflow: hidden;
}
.mobile-map-div svg {
  width: 300%;
}
