@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');

:root {
  --colour-black: #181818;
  --colour-white: white;
  --colour-purple: #B6A7FF;
  --colour-orange: #97C062;
  --colour-yellow: #FFCB73;
  --colour-redish: #f5677c;
  --colour-blue-light: #68d7e8;
  --colour-blue-dark: #5157F4;
  --colour-darkgrey: #313131;
  --colour-grey: #5C5C5C;
  --colour-lightgrey: grey;
  
  --colour-proj-main: var(--colour-white);
  --colour-proj-dark: var(--colour-white);
  --colour-proj-light: var(--colour-white);
  --colour-preview: var(--colour-body);
  
  /* grayscale version */
  /* --colour-black: #313131;
  --colour-white: #d6d6d6;
  --colour-purple: #B6A7FF;
  --colour-orange: #97C062;
  --colour-yellow: #FFCB73;
  --colour-blue-light: #51F4F4;
  --colour-blue-dark: #5157F4;
  --colour-darkgrey: #464646;
  --colour-grey: black;
  --colour-lightgrey: grey; */
  
  /* dynamic colours */
  --colour-body: var(--colour-black);
  --colour-text: var(--colour-white);
  
  --heading: "Cooper Hewitt", sans-serif;
  --subheading: "Cooper Hewitt", sans-serif;
  --content: "Cooper Hewitt", sans-serif;
  
  --bold: 700;
  --semi-bold: 500;
  --med: 500;
  --regular: 300;

  --linespace: 1.3;
  --inner-padding: 2em;
  --padding: 2em;
  --padding-large: 4em;
  --gap: 1em;
  
  --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  
  --round: 100%;
  --corner-large: 2.6em;
  --corner-normal: 0.8em;
  --corner-small: 0.5em;
  
  --split-width: 25vw;
  
  --real-vh: 100vh;
  
  /* z-index */
  
  --z-map-inactive: -1;
  --z-sidebar: 101;
  --z-map-active: 104;
  --z-info: 106;
  --z-popup: 106;
  --z-propop: 107;
  --z-project: 110;
  --z-cursor: 1000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

*.width-min {
  width: min-content;
}

::selection {
  background-color: rgba(255,255,255,0.4);
  color: var(--colour-white);
}
.project-pop ::selection,
.menu ::selection {
  background-color: var(--colour-black);
}

.tets {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.full-caps {
  text-transform: uppercase;
}

html {
  font: var(--regular) 1em/var(--linespace) var(--content);
  color: var(--colour-text);
}

p {
  font: var(--regular) 1.1em/var(--linespace) var(--content);
}

h1 {
  font: var(--med) 2.5em/1.1 var(--heading);
}
h1.hero {
  font-size: 3.3em;
  display: inline-block;
  font-weight: var(--bold);
}
.i {
  font-style: italic;
  font-weight: var(--regular);
}
span.reg {
  font-weight: var(--regular);
}

h2 {
  font: var(--bold) 2em/var(--linespace) var(--heading);
  max-width: 50em;
}
h3 {
  font: var(--med) 1.6em/var(--linespace) var(--heading);
  max-width: 50em;
}
h3.weight-bold {
  font-weight: var(--bold);
  font-size: 1.7em;
}
h4 {
  font: var(--regular) 1.3em/var(--linespace) var(--subheading);
}
h4.weight-bold {
  font-weight: var(--bold);
}
h5 {
  font: var(--regular) 1em/var(--linespace) var(--subheading);
}
h6 {
  font: var(--med) 1em/var(--linespace) var(--subheading);
}
h6.explainer {
  font-size: 0.9em;
  margin-bottom: calc(var(--gap) / 2);
  text-transform: uppercase;
  font-weight: var(--bold);
  --colour-text: var(--colour-black);
}

h1,h2,h3,h4,h5,h6,p,span,a {
  color: var(--colour-text);
}

h1,h2,h3,h4,h5,h6,p,span {
  /* cursor: text; */
  display: inline-block;
  width: fit-content;
}

.hover-def {
  text-decoration: underline;
}
.hover-def:hover {
  text-decoration: underline;
  color: var(--colour-orange);
}

h1.highlight,
h2.highlight,
h3.highlight,
h4.highlight,
h5.highlight,
h6.highlight,
p.highlight,
span.highlight,
a.highlight {
  --colour-text: var(--colour-purple);
}

span.tiny {
  font-size: 0.6em;
  font-weight: var(--regular);
  vertical-align: middle;
}

main {
  height: var(--real-vh);
}
body {
  overflow-x: hidden;
  background-color: var(--colour-black);
  scroll-behavior: smooth;
  cursor: none;
}
html {
  scroll-behavior: smooth;
}
body.modal-active {
  overflow-y: hidden;
}
section {
  min-height: var(--real-vh);
}

svg {
  width: 2em;
  fill: var(--colour-text);
}

.no-interact {
  pointer-events: none;
}

.info-disp {
  position: fixed;
  top: 0;
  left: 0;
}

.slider-container {
  padding: var(--inner-padding);
}

/* .main-wrapper[data-lock="true"] {
  overflow: hidden;
} */

/* ________________SECTIONS__________________ */

.inherit {
  display: inherit;
  width: 100%;
  height: 100%;
  align-items: inherit;
  justify-items: inherit;
}

section.center-title {
  display: grid;
  align-items: center;
}
section.center-title.center {
  display: grid;
  align-items: center;
  justify-items: center;
}
section.center-title .center-title-inner {
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  display: inherit;
  align-items: inherit;
  justify-items: inherit;
}
section.center-title .center-title-inner h4 {
  max-width: 46em;
}
section.center-title .center-title-inner.large {
  padding-left: calc(var(--padding-large) * 2);
  padding-right: calc(var(--padding-large) * 2);
}
section.no-full-height {
  min-height: unset;
  margin-top: 20vh;
  margin-bottom: 10em;
}

/* ________________SIDENAV__________________ */

nav.side-progress {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: fixed;
  z-index: var(--z-sidebar);
  right: var(--padding);
  height: 100%;
  align-items: center;
  justify-content: center;
}
nav.side-progress svg {
  width: 0.8em;
  fill: var(--colour-text);
}

nav.side-progress .nav-node {
  position: relative;
  margin-bottom: var(--gap);
  width: 1.5em;
  height: 1.5em;
  border-radius: var(--round);
  display: grid;
  justify-items: center;
  align-items: center;
  border: 2px solid transparent;
  opacity: 0.75;
  cursor: pointer;
}
nav.side-progress .nav-node:last-child {
  margin-bottom: 0;
}
nav.side-progress .nav-node[data-current="true"] {
  border-color: var(--colour-text);
  opacity: 1;
}

nav.side-progress .nav-node:hover label,
nav.side-progress .nav-node label[data-active="true"]
{
  opacity: 1;
}
nav.side-progress .nav-node:hover {
  opacity: 1;
}

nav.side-progress .node {
  background-color: var(--colour-text);
  width: 40%;
  height: 40%;
  border-radius: var(--round);
}

nav.side-progress label {
  line-height: 0;
  opacity: 0;
  position: absolute;
  right: var(--padding);
  white-space: nowrap;
  pointer-events: none;
  transition: 0.3s ease;
}

/* ________________BUTTONS__________________ */

button {
  font: var(--regular) 1.2em/1 var(--content);
  border: none;
  appearance: none;
  padding: calc(var(--inner-padding) / 3) calc(var(--inner-padding) / 2);
  background-color: var(--colour-white);
  cursor: pointer;
  color: black;
  border-radius: var(--corner-small);
}
button.secondary {
  background-color: var(--colour-lightgrey);
  color: var(--colour-white);
}
button.text {
  padding: unset;
  font-weight: var(--med);
  border: unset;
}

a {
  color: var(--colour-text);
  text-decoration: unset;
}
a.text {
  text-decoration: underline;
}

/* ________________CURSOR__________________ */

.cursor-area {
  position: fixed;
  width: 100vw;
  z-index: var(--z-cursor);
  height: var(--real-vh);
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor {
  position: absolute;
  z-index: var(--z-cursor);
  width: 1.6em;
  height: 1.6em;
  opacity: 0.6;
  background-color: transparent;
  border: 1.5px solid var(--colour-white);
  border-radius: var(--round);
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, border-color 0.3s ease, background-color 0.3s cubic-bezier(0.64, 0, 0.78, 0);
  display: grid;
  align-items: center;
  justify-items: center;
}
.cursor::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: var(--round);
  background-color: var(--colour-white);
  position: absolute;
  transition: 0.3s ease;
}

.cursor[data-pointer="true"],
.cursor[data-text="true"],
.cursor[data-hover="true"] {
  opacity: 1;
}
.cursor[data-pointer="true"]::after {
  width: 100%;
  height: 100%;
}

.cursor[data-text="true"] {
  border-color: transparent;
}
.cursor[data-text="true"]::after {
  width: 0.2em;
  height: 1.5em;
  border-radius: var(--corner-small);
}

.cursor[data-hover="true"]::after {
  content: "?";
  font-weight: 800;
  background-color: transparent;
  line-height: 1;
}


/* ________________TEAM__________________ */

section.team, footer {
  padding: var(--padding) var(--padding-large);
  max-width: 80em;
  margin: 0 auto;
}
footer {
  display: grid;
  gap: calc(var(--gap) * 1.5);
  padding: calc( var(--padding) * 2) var(--padding-large);
}
.team-set {
  display: grid;
  grid-auto-rows: max-content max-content;
  gap: calc(var(--gap) * 4);
  justify-content: center;
}
.team-set .team-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--gap) * 4);
  justify-content: center;
  justify-items: center;
}
.team-set .team-row:last-of-type {
  grid-template-columns: repeat(3, auto);
}
.team-set .team-card {
  display: grid;
  gap: var(--gap);
  width: 100%;
  grid-template-rows: max-content auto max-content max-content;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  width: 14em;
}
.team-set .team-card img {
  width: 100%;
  border-radius: var(--corner-normal);
}
.team-set .team-card .name {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: var(--med);
}
.team-set .team-card .title {
  line-height: 1.1;
  display: initial;
  width: initial;
}
.team-set .team-card .title:first-of-type {
  padding-bottom: var(--gap);
  border-bottom: solid 1px var(--colour-white);
}

/* ________________LAYOUTS__________________ */

.item-row,
.item-row-large {
  display: flex;
  flex-direction: row;
}
.item-row > * {
  margin-right: var(--gap);
}
.item-row-large > * {
  margin-right: calc(var(--gap) * 2);
}
.item-row > :last-child,
.item-row-large > :last-child {
  margin-right: 0;
}

.item-row.wrap {
  flex-wrap: wrap;
}

.item-list,
.item-list-small,
.item-list-med,
.item-list-large {
  display: flex;
  flex-direction: column;
}

.item-list > *,
.item-list-small > *
.item-list-med > *,
.item-list-large > * {
  margin-bottom: var(--gap);
}

.item-list > :last-child,
.item-list-small > :last-child,
.item-list-med > :last-child,
.item-list-large > :last-child {
  margin-bottom: unset;
}
.item-list.center,
.item-list-small.center,
.item-list-med.center,
.item-list-large.center {
  align-items: center;
}

.item-row.center,
.item-row-small.center,
.item-row-med.center,
.item-row-large.center {
  align-items: center;
}

.item-list > button {
  margin-right: auto;
}
.card .item-list > button {
  margin-right: 0;
}

.item-list-small > * {
  margin-bottom: calc(var(--gap) / 2);
}
.item-list-large > * {
  margin-bottom: calc(var(--gap) * 4);
}
.item-list-xlarge > * {
  margin-bottom: calc(var(--gap) * 8);
}
.item-list-med > * {
  margin-bottom: calc(var(--gap) * 2);
}

.right-item-layout {
  display: grid;
  grid-template-columns: auto min-content;
  gap: calc(var(--gap) / 2);
}

.center-align {
  text-align: center;
  max-width: 50em;
  display: grid;
  gap: var(--gap);
  margin: 0 auto;
  padding: var(--inner-padding) 0;
}
.center-align button {
  margin: 0 auto;
}

.center {
  text-align: center;
}
.center p {
  max-width: unset;
}

.center-title .three-col {
  gap: 9vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70vw;
  max-width: 70em;
}

.project-intro-stack {
  display: grid;
  grid-template-rows: 15em auto auto;
  justify-content: center;
  justify-items: center;
  gap: var(--gap);
}
.project-intro-stack svg {
  height: 100%;
  width: unset;
  padding-bottom: var(--gap);
}

/* ________________CARD__________________ */

/* disaster */

.card,
.tooltip {
  display: grid;
  grid-template-rows: 16em max-content auto;
  width: 90vw;
  max-width: 24em;
  border-radius: var(--corner-normal);
  overflow: hidden;
  position: fixed;
  z-index: var(--z-popup);
  justify-items: left;
  text-align: left;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s ease, transform 0.4s ease;
  height: auto;
  max-height: 95vh;
  overflow-y: auto;
}

.card.wide {
  max-width: 30em;
}

.card.list {
  grid-template-rows: unset;
  width: 90vw;
  max-width: 28em;
}

.card.list button.project-list-item {
  background-color: black;
  width: 100%;
  border: unset;
  border-radius: unset;
  text-align: left;
  height: 100%;
  padding: calc(var(--inner-padding) / 2);
  align-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.card.list button.project-list-item * {
  pointer-events: none;
}
.card.list button.project-list-item:hover {
  background-color: unset;
}
.card.list button.project-list-item:hover > img {
  opacity: 0.1;
}
.card.list button.project-list-item svg {
  width: 1em;
}
.card.list button.project-list-item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
  object-fit: cover;
  object-position: center;
}
.card.list ul {
  display: grid;
  gap: calc(var(--gap) / 6);
}
.card.list ul li {
}
.card.list h3 {
  font-size: 1.4em;
}

.card[data-active="true"],
.tooltip[data-active="true"] {
  opacity: 1;
  transform: scale(0.8);
}

.tooltip {
  background-color: rgba(0,0,0,0.4);
  grid-template-rows: unset;
}
.tooltip.solid {
  background-color: var(--colour-body);
  box-shadow: 0 10px 20px 10px var(--colour-body);
}
.tooltip.solid.light {
  background-color: var(--colour-lightgrey);
  box-shadow: 0 10px 20px 10px var(--colour-body);
  max-width: 20em;
  width: auto;
}
.tooltip.solid.light img {
  width: 100%;
}
.tooltip.solid[data-active="true"] {
  transform: scale(1);
  margin-left: calc(var(--gap)*-1);
}
.tooltip.solid .body {
}

.card .hero-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .hero-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.card .header-bar,
.card .body,
.tooltip .body,
.card .title-bar {
  padding: calc(var(--inner-padding) / 1.6);
  width: 100%;
}

.card .title-bar {
  background-color: black;
}
.card .header-bar svg {
  width: 2.4em;
}

.card .body .button-row {
  display: grid;
  grid-template-columns: auto max-content;
}
.card .body .button-row > :first-child{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.card .body .button-row > :last-child{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.card.list {
  overflow: hidden;
  min-height: 0;
}
.card.list .body {
  padding: unset;
  overflow-y: auto;
  min-height: 0;
  max-height: inherit;
}
.card.list button.abs {
  width: 100%;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  border: unset;
  background-color: var(--colour-lightgrey);
  color: var(--colour-white);
  z-index: 9;
  height: calc( var(--padding) * 2);
}
.card.list button.abs:hover {
  background-color: var(--colour-white);
}
.card.list button.abs:hover > * {
  color: var(--colour-body);
}
.card button, .tooltip button {
  background-color: var(--colour-lightgrey);
  color: var(--colour-white);
  pointer-events: auto;
}
.card.list .body ul {
  padding-bottom: calc( var(--padding) * 2.5);
}

.card .header-bar {
  background-color: var(--colour-darkgrey);
}
.card .body {
  background-color: var(--colour-grey);
}
.card.list .body {
  background-color: black;
}
.card.list .body > :last-child {
  margin: unset;
}
.card h3, .card h4, .card h5 {
  line-height: 1;
}

.principles-section {
  width: 100%;
  display: grid;
  gap: var(--padding);
  padding: var(--padding);
  align-content: center;
  justify-items: center;
  z-index: 1;
  position: relative;
  margin-top: -35vh;
  margin-bottom: 20vh;
  /* background: linear-gradient(transparent, var(--colour-body) 80%); */
}

.principles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 12vw;
  max-width: 80em;
}
.principles-grid .principle {
  height: 20vh;
  display: grid;
  align-content: center;
  justify-content: left;
  transition: opacity 0.5s ease;
}
.principles-grid .principle[data-fade="true"] {
  opacity: 0.2;
}
.principles-grid .principle svg {
  width: 3.4em;
}
.principles-grid .principle h3 {
  width: min-content;
}
.principles-grid .principle[data-active="true"] h3 {
  background: -webkit-linear-gradient(0deg,rgb(228, 80, 80), rgb(93, 93, 239));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 0.5s ease;
}
.principles-section h5 {
  max-width: 40em;
  text-align: center;
}


/* ________________PROJECTS__________________ */

.projects-preview {
  
}
.projects-preview .highlight {
  color: var(--colour-preview);
}
.projects-preview h1 {
  font-weight: var(--bold);
}
.projects-preview p {
  font-size: 1.2em;
}
.projects-preview .preview a {
  width: max-content;
}
.projects-preview button {
  border: unset;
  background-color: var(--colour-preview);
  padding: calc(var(--inner-padding) / 2) calc(var(--inner-padding) * 2);
  color: var(--colour-white);
}
.projects-preview .preview {
  opacity: 0;
  transition: opacity 1s ease;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: var(--padding-large);
}
.projects-preview .preview[data-active="false"] {
  --colour-preview: grey !important;
}
.projects-preview .preview[data-active="true"] {
  opacity: 1;
}
.projects-preview .preview .preview-header {
  align-items: center;
}
.projects-preview .preview .preview-header svg {
  width: 6em;
}

.projects-preview .preview .three-col {
  gap: 4em;
  max-width: unset;
  width: 100%;
}
.projects-preview .preview .three-col svg {
  width: 3.5em;
}
.projects-preview .preview .three-col .item-row {
  align-items: center;
}
.projects-preview .preview .three-col .item-row h4 {
  line-height: 1;
}

.projects-preview .preview .preview-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  align-items: center;
  justify-self: center;
  gap: calc(var(--gap) * 2);
  padding-top: 10vh;
  width: 100%;
  max-width: 25em;
}
.projects-preview .preview .preview-stats svg {
  width: 3em;
}
.projects-preview .preview .preview-stats .stats-display span {
  margin-bottom: unset;
}
.projects-preview .preview .preview-stats .stats-display h2 {
  line-height: 1;
  font-weight: var(--bold);
}
.projects-preview .preview .preview-stats .stats-display h6 {
  line-height: 1;
  font-weight: var(--bold);
}

.line-div {
  width: 100%;
  max-width: 30em;
  height: 1px;
  opacity: 0.5;
  background-color: var(--colour-text);
}


.project-pop {
  position: fixed;
  z-index: var(--z-project);
  width: 100%;
  height: var(--real-vh);
  background-color: var(--colour-white);
  top: 0;
  left: 0;
  transform: translateX(100%);
  --colour-text: var(--colour-black);
  --inner-padding: 1em;
  transition: transform 0.5s ease;
}
.project-pop[data-active="true"] {
  transform: translateX(0);
}
.project-pop .project-header {
  align-items: flex-start;
  padding: var(--padding);
  position: fixed;
}
.project-pop section {
  min-height: unset;
}
.project-pop .project-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: var(--padding) var(--padding-large);
}
.project-pop .project-inner {
  display: grid;
  gap: calc(var(--padding) * 3);
  max-width: 70em;
  margin: 0 auto;
  padding-top: 8em;
}

.project-pop button{
  /* border-radius: unset; */
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 0 10px 8px rgba(255,255,255,0.6);
}

.project-pop h1, 
.project-pop h2, 
.project-pop h3, 
.project-pop h5,
.project-pop li p {
  color: var(--colour-proj-dark);
}
.project-pop p {
  font-size: 1.2em;
} 
.project-pop .three-col p {
  font-size: 1.1em;
} 
.project-pop .hero-text {
  color: var(--colour-proj-main);
}
.project-pop .standout-text {
  margin: var(--padding) 0;
}
.project-pop h1,
.project-pop h2 {
  font-weight: var(--bold);
  text-transform: uppercase;
}

.project-pop img {
  width: 100%;
}
.project-pop .image-container {
  margin-bottom: var(--padding);
  display: grid;
  gap: var(--gap);
  justify-items: right;
}
.project-pop .image-container h6 {
  opacity: 0.6;
  font-weight: var(--regular);
  font-style: italic;
}
.project-pop iframe {
  width: 100%;
  height: 90vh;
  border: none;
}

/* ________________PROJECT INNERS__________________ */

.project-pop .three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: calc(var(--gap) * 2);
}
.project-pop .three-col svg {
  height: 70%;
  width: 70%;
}
.project-pop .three-col .item-list {
  text-align: center;
  align-items: center;
  padding: var(--inner-padding);
}
.project-pop .three-col .img-cont {
  background-color: var(--colour-proj-light);
  width: calc(100% + calc(var(--inner-padding) * 2));
  aspect-ratio: 1/1;
  border-radius: var(--corner-large);
  padding: var(--inner-padding);
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0 calc(var(--inner-padding) * -1);
  margin-bottom: var(--gap);
}
.project-pop section.principles .three-col .img-cont {
  background-color: transparent;
  aspect-ratio: unset;
  padding-top: 0;
}
.project-pop section.principles .three-col .img-cont svg {
  fill: var(--colour-proj-main);
  width: 80%;
}
.project-pop .three-col p {
  padding: 0 var(--gap);
}

.img-info-list {
  display: grid;
  grid-template-columns: 9.5em auto;
}

.img-info-list[data-tall="true"] {
  grid-template-columns: 11.5em auto;
  padding-top: 5.2em;
}
.img-info-list[data-tall="true"] svg {
  height: calc(100% + 4em);
  margin-top: -5.2em;
}

.img-info-list svg {
  fill: var(--colour-white);
  height: 100%;
  width: unset;
  z-index: 1;
}
.img-info-list ul {
  margin: var(--padding) 0;
  margin-left: calc(var(--padding) * -2);
}
.img-info-list ul li {
  background-color: var(--colour-proj-light);
  margin-bottom: calc(var(--gap) / 2);
  padding: var(--inner-padding);
  border-radius: var(--corner-small);
}
.img-info-list ul li p {
  padding-left: calc(var(--padding) * 2);
}
.img-info-list ul > :last-child {
  margin-bottom: unset;
}

.case-study .info {
  padding: var(--padding-large) 0;
}

.project-inner .header svg {
  width: 10em;
}
.project-inner .header {
  align-items: flex-end;
}



/* ________________MODAL__________________ */

.modal {
  position: relative;
  width: 88vw;
  max-width: 50em;
  background-color: var(--colour-white);
  --colour-text: var(--colour-purple);
  padding: calc(var(--inner-padding) / 1.2);
  display: grid;
  gap: calc(var(--gap) * 2);
  border-radius: var(--corner-large);
  max-height: 74vh;
  height: 100%;
  grid-template-rows: min-content auto;
  transition: transform 0.3s ease;
}
.inner-modal {
  overflow-y: auto;
}
.modal button.icon-round {
  margin-top: calc(var(--gap) * -0.7);
  margin-right: calc(var(--gap) * -0.7);
}
.modal .modal-topbar {
  align-items: center;
}
.modal-behind {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-propop);
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.modal-behind[data-anim="true"] {
  opacity: 1;
}
.modal-behind .modal {
  transform: translateY(20px);
}
.modal-behind[data-anim="true"] .modal {
  transform: translateY(0);
}

/* ________________MAP__________________ */

.map {
  width: 100%;
  position: relative;
}

.map .actual-map-outer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.map .actual-map-outer[data-mobile="true"] {
  overflow: hidden;
}
.map .actual-map-outer[data-mobile="true"] .actual-map {
  width: 300%;
}
.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: calc(var(--z-map-active) + 1);
}
.slider-container .rc-slider-handle {
  width: 2em;
  height: 2em;
  margin-top: -0.8em;
  border: unset !important;
  box-shadow: unset !important;
  background-color: var(--colour-white) !important;
  opacity: 1;
}

.map.fixed-map {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  transform-origin: right bottom;
  transition: transform 1s ease;
}
.map.fixed-map.inactive {
  opacity: 0 !important;
}

.map .actual-map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: var(--z-map-inactive);
  left: calc(var(--padding-large) * -1);
  transition: transform 1s ease;
  display: grid;
  align-items: center;
}

.map .actual-map[data-active="true"] {
  z-index: var(--z-map-active);
}

.map .actual-map[data-zoom="true"] {
  /* transform: scale(1.5) translateX(-15%); */
}

.map .map-inner.standard .actual-map {
  transform: translateX(-5em);
}
.map .map-inner {
  position: relative;
}
.map .map-inner.standard .actual-map-outer .actual-map {
  position: static;
}
.map .map-inner.standard .actual-map-outer {
  position: relative;
}

.map .marker {
  width: 2em;
  position: fixed;
  transform: translateX(-45%) translateY(-120%);
  z-index: calc(var(--z-map-active) + 1);
}
.map .marker svg path {
  pointer-events: none;
}

.map .marker svg {
  width: 2.4em;
}

.map .marker,
.map .actual-map svg path[data-active="true"] {
  /* cursor: help; */
}

.map .marker:hover svg {
  fill: var(--colour-white);
  
}
.map .marker[data-active="true"] > svg {
  transform: scale(1);
}
.map .marker > svg {
  fill: var(--colour-lightgrey);
  transition: transform 0.5s ease;
  transform: scale(0);
}

.map .actual-map svg {
  width: 100%;
  fill: var(--colour-darkgrey);
}
.map .actual-map svg path {
  transition: fill 0.6s ease;
}

.map-bottom-text {
  position: absolute;
  bottom: var(--padding-large);
  width: 100%;
  max-width: 60em;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  z-index: var(--z-info);
}
.map-top-text {
  position: absolute;
  top: var(--padding-large);
  width: 100%;
  max-width: 60em;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  z-index: var(--z-info);
}

.item-list-small[data-mobile="true"] {
  margin-top: calc(var(--padding) * 1.5);
}

.map-top-text.no-width {
  width: unset;
}
.map-top-text.no-width .item-list-small {
  align-items: center;
}


/* ________________HOVER__________________ */

@media not all and (hover: none) {
  button:hover {
    background-color: var(--colour-body);
    color: var(--colour-white);
  }
  .preview button:hover {
    background-color: var(--colour-white);
    color: var(--colour-body);
  }
  .project-pop button:hover {
    background-color: unset;
    color: var(--colour-black);
  }
  
  
  a.text:hover {
    /* font-weight: bolder; */
    text-decoration: underline;
    color: var(--colour-purple);
  }
  .project-pop a.text:hover {
    color: var(--colour-proj-dark);
  }
}

/* ________________RESP__________________ */

@media screen and (max-width: 26em) {
  :root {
    /* --padding:1em; */
  }
  body {
    font-size: 0.8em;
  }
  p {
    font-size: 1em;
  }
  h4, .team-set .team-card .name {
    font-size: 1.3em;
  }
  .intro-hero-text h1 {
    font-size: 13vw;
  }
  .modal {
    height: 65vh;
  }
}

@media screen and (max-width: 86em) {

  section.team .team-set .team-row .team-card {
    width: 15vw;
  }
  .map-bottom-text {
    bottom: var(--padding);
  }
  .map-top-text {
    top: var(--padding);
  }
  .principles-grid, .center-title .three-col {
    column-gap: 8vw;
  }
}

@media screen and (max-width: 66em) {
  section.team .team-set .team-row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  section.team .team-set .team-row .team-card {
    width: auto
  }
  .principles-grid, .center-title .three-col {
    column-gap: var(--padding);
  }
  .projects-preview .preview .preview-stats {
    grid-template-columns: unset;
    grid-template-rows: repeat(4, max-content);
    justify-content: center;
    padding-top: 20vh;
  }
  .projects-preview .preview .three-col {
    grid-template-columns: 1fr 1fr;
  }
  .project-intro-stack svg {
    width: 10em;
  }
  .card[data-active="true"], .tooltip[data-active="true"] {
    left: 50% !important;
    top: 50% !important;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
  }
  
  .img-info-list {
    grid-template-columns: unset;
  }
  .img-info-list svg {
    height: unset;
    width: 5em;
  }
  
  .project-pop .three-col {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 52em) {
  .principles-section {
    gap: calc(var(--padding) * 2);
  }
  .principles-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
  }
  .principles-grid .principle {
    height: 20vh;
  }
  section.team .team-set .team-row {
    gap: var(--gap);
  }
  .projects-preview .preview {
    grid-template-columns: unset;
  }
  .projects-preview .preview .three-col {
    grid-template-columns: unset;
  }
  .projects-preview .preview .preview-stats {
    display: none;
  }
  .center-title .three-col {
    grid-template-columns: unset;
  }
  .project-pop .three-col {
    grid-template-columns: unset;
  }
  .project-intro-stack {
    grid-template-rows: max-content max-content max-content;
  }
  .project-intro-stack svg {
    height: unset;
    width: 50vw;
  }
  .center-title-inner {
    gap: calc(var(--padding) * 2);
  }
  .project-inner .header svg {
    width: 6em;
  }
  
}

@media screen and (max-width: 40em) {

  :root {
    --padding-large: 1.5em;
  }
  h1.hero {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.3em;
  }
  
  section.center-title.center {
    text-align: left;
  }
  
  nav.side-progress {
    right: calc(var(--padding) / 2);
  }
  
  .principles-section {
    gap: calc(var(--padding) * 1);
  }
  .principles-grid {
    grid-template-columns: unset;
  }
  .principles-grid .principle {
    height: 8em;
  }
  
}

.mobile-map-div {
  width: 100%;
  /* overflow-y: scroll; */
}
.mobile-map-div svg {
  /* height: 100%; */
  width: 300%;
  /* overflow-y: scroll; */
}
